img.Mantis_ImagePasteOnComment{
            border: solid 3px #000 ;
         max-width: 70vw;
}
div.Mantis_ImagePasteOnComment_Insert{

            border: solid 2px azure;
  background-color: aliceblue;
  
